<label>Server Name</label>
<!--<input type="text"-->
       <!--class="form-control"-->
       <!--(input)="onUpdateServerName($event)"-->
<!--&gt;-->

<input type="text"
       class="form-control"
       [(ngModel)]="serverName"
>
<!--<p>{{serverName}}</p>-->

<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click) ="onCreateServer()"
>Add Server</button>
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated">Server was create, server name is {{ serverName }}</p>
<app-server-component *ngFor="let server of servers"></app-server-component>


